// Variables
@use './variables' as *;

// wrapper
.wrapper {
    width: 90%;
    margin: 0 auto;
}

// images
img {
    height: auto;
    width: 100%;
    display: block;
}

// list style changed to none
ul {
    list-style-type: none;
}

// anchor tags
a {
    text-decoration: none;
}