// Variables
@use './variables' as *;

header {
    height: 100vh;
    min-height: 800px;
    .wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        .headerTextContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 60%;
        }
        .headerImgContainer {
            max-width: 375px;
            img{
                border-radius: 5rem;
            }
        }
    }

}

.typedTextContainer {
    align-self: flex-end;
}

.typedText {
    font-family: monospace;
    max-width: 445px;
    overflow: hidden;
    border-right: .5em solid $basicFontColor;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .2rem;
    animation: typing 1.5s steps(30, end) forwards,
        blinking 1s infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


@keyframes blinking {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: $basicFontColor;
    }
}
