// Variables
@use './variables' as *;

@media (max-width: 900px) {
    // contact section media query
    .contactContentContainer {
        flex-direction: column;
        gap: 50px;
    }
    .contactInfoContainer,
    .formContainer {
        width: 100%;
    }

    .contactIconList {
        justify-content: space-evenly;
    }
    // contact section end

}


@media (max-width: 850px ) {
    // media query for navbar and hamburger menu
    nav .wrapper {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        width: 100%;
        .logo{
            margin-left: 5%;
        }
    }
    .menu {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        padding-bottom: 0;
        gap: 0;
        li {
            width: 100%;
            a{  
                display: block;
                padding: 40px 5% 40px 5%;
            }
        }
    }
    .hiddenAppear{
        display: none;
    }
    .hamburgerMenu{
        display: flex;
        position: absolute;
        top: 27px;
        right: 5%;
    }
    .menu .navContact a {
        padding: 40px 5% 40px 5%;
        background-color: transparent;
        box-shadow: none;
        text-shadow: none;
        font-weight: 400;
    }
    .menu .navContact a:hover{
        background-color: $buttonColor;
    }
    .navLink::after {
        display: none;
    }
    .navLink:hover{
        background-color: $buttonColor;
    }
    .navLinkContact{
        outline: none;
    }
    //  navBar/ hamburger menu END
    // start of about me section
    .aboutMeContentContainer {
        flex-direction: column;
        align-items: center;

    }
    .profileImageContainer {
        width: 50%;
        min-width: 250px;
        margin-bottom: 50px;
    }
    .aboutMeTextContainer {
        width: 100%;
    }
    // end of about me section

    // start of project section
    .projectsContainer {
        gap: 100px;
    }

    .projectOne, 
    .projectTwo,
    .projectThree,
    .projectFour {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .projectImgContainer,
    .projectTextContainer {
        width: 100%;
    }
    .projectTwo,
    .projectFour{
        .projectButtonsContainer {
                justify-content: flex-start;
            }
    }

}

@media (max-width: 800px) {
    // header container
    header{
        margin-bottom: 150px;
        margin-top: 100px;
        .wrapper {
                flex-direction: column-reverse;
                justify-content: space-evenly;
                gap: 0;
                .headerTextContainer{
                    width: auto;
                    align-items: center;
                }
                .headerImgContainer {
                    width: 80%;
                }
            }

    }
    .headerTextContainer h1 {
        text-align: center;
    }
    .typedTextContainer {
        align-self: auto;
    }
}


@media (max-width: 600px) {
    // header type writer text
    .typedText {
        font-size: 1.2rem;
    }
    
    // icons
    .iconList {
        width: 80%;
        column-gap: 100px;
        li i {
                font-size: 2rem;
        }
    } 
}

@media (max-width: 400px) {
    // contact section 
    .contactIconList {
        li {
            max-width: 100%;
        }
        .contactLinkText{
            padding: 12px 0 12px 5px;
        }
        .contactLinkText::after {
            left: 5px;
            bottom: 4px;
            height: 4px;
            width: calc((100%) - 12px);
        }

    }
    // typed text font size
    .typedText{
        font-size: .95rem;
    }
    // contact section font
    .contactIconList li i {
        font-size: 2rem;
    }
    .contactIconList li a {
        font-size: 1rem;
    }

}

@media (max-width: 370px) {
    .projectButton {
        padding-left: 24px;
        padding-right: 24px;
    }
}