// Variables
@use './variables' as *;

// about me section
.aboutMeContentContainer {
    display: flex;
    justify-content: space-between;

}

.profileImageContainer {
    width: 32%;
    img {
        border-radius: 2rem;
    }
}

.aboutMeTextContainer {
    width: 62%;
}


// end of about me section

// skills section

.iconList {
    display: flex;
    flex-wrap: wrap;

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        i {
            font-size: 4rem;
        }
    }
}

// end of skills section

// project section 

// end of project section

// contact section
section.contact {
    padding: 100px 0;
}

.contactContentContainer {
    display: flex;
    justify-content: space-between;
}

.contactInfoContainer {
    width: 48%;
    ul{
        display: flex;
        gap: 1rem;
        
        i{
            font-size: 4rem;
        }
    }
}

.formContainer {
    width: 48%;
}
.contactForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    input {
        padding: 20px;
        font-family: $bodyFont;
        line-height: 1.6;
    }
    textarea {
        font-family: $bodyFont;
        line-height: 1.6;
        resize: none;
        padding: 20px;

    }
    button {
        font-family: $bodyFont;
        line-height: 1.6;
        padding: 20px;
        background-color: $primaryColor;
        color: $seconddaryFontColor;
    }
}
// end of contact section