// Variables
@use './variables' as *;

// about me section
section.aboutMe {
    background-color: $backgroundColorThree;
    padding: 75px 0;
}

.aboutMeContentContainer {
    display: flex;
    justify-content: space-between;

}

.profileImageContainer {
    width: 32%;
    img {
        border-radius: 10%;
    }
}

.aboutMeTextContainer {
    width: 62%;
    h3 {
        margin-top: 30px;
    }
}


// end of about me section

// skills section
section.skills {
    background-color: $primaryColor;
    padding: 75px 0;
    color: $secondaryFontColor;
    h3 {
        margin-top: 0;
        text-align: center;
    }
}

.iconContainer {
    display: flex;
    justify-content: center;
}

.iconList {
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        i {
            font-size: 4rem;
        }
    }
}

// end of skills section

// project section 
section.projects{
    padding: 75px 0;
    h3{
        margin-top: 0;
    }
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.projectOne,
.projectTwo,
.projectThree,
.projectFour {
    display: flex;
    justify-content: space-between;
    .projectButtonsContainer{
        display: flex;
        gap: 10px;
    }
}

.projectTwo,
.projectFour {
    flex-direction: row-reverse;
    .projectButtonsContainer {
        justify-content: flex-end;
    }
}

.projectImgContainer,
.projectTextContainer {
    width: 48%;
}

.projectButton {
    background-color: $nightModeSecondary;
    padding: 10px 30px;
    color: $basicFontColor;
    font-weight: bold;
}

// end of project section

// contact section
section.contact {
    padding: 75px 0;
    background-color: $backgroundColorTwo;
    h3{
        margin-top: 0;
    }
}

.contactContentContainer {
    display: flex;
    justify-content: space-between;
}

.contactInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 48%;
    p {
        margin-top: 0;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        
        i{
            font-size: 3rem;
            color: $primaryColor;
        }
    }
}

.formContainer {
    width: 48%;
}
.contactForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    input {
        padding: 20px;
        font-family: $bodyFont;
        line-height: 1.6;
    }
    textarea {
        font-family: $bodyFont;
        line-height: 1.6;
        resize: none;
        padding: 20px;

    }
    button {
        font-family: $bodyFont;
        line-height: 1.6;
        padding: 20px;
        background-color: $nightModeSecondary;
        color: $basicFontColor;
        font-weight: 700;
    }
}
// end of contact section