// colors
$primaryColor: #0C6291;
$secondaryColor: #3D80B1;
$tertiaryColor: #62A0D3;
$backgroundColorOne: white;
$backgroundColorTwo: #A7E2FF;
$backgroundColorThree: #fcfaea;
// #fbfaf0
// green #c7d7b3 , #83cac7 blue, #f4f1de beige
$basicFontColor: #2c2c2c;
$secondaryFontColor: white;

// night mode colors
$nightModePrimary: black;
$nightModeSecondary: #F5CB5C;


// Fonts
$titleFont: 'Rubik', sans-serif;
$bodyFont: 'Karla', sans-serif;


// Typography
@mixin primaryFont($sizeValue){
    font-size: $sizeValue;
    font-family: $primaryFont;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
