// colors
$primaryColor: #114B5F;
$backgroundColorOne: #C6DABF;
$backgroundColorTwo:  #a2cddb;

$backgroundColorThree: #e7e6d8;

$navBarColor: #98ab91;

$basicFontColor: #2c2c2c;
$secondaryFontColor: white;

// button color
$nightModeSecondary: #ffd786;


// Fonts
$titleFont: 'Rubik', sans-serif;
$bodyFont: 'Karla', sans-serif;


// Typography
@mixin primaryFont($sizeValue){
    font-size: $sizeValue;
    font-family: $primaryFont;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
